<%- include('includes/head') %>
  <%- include('includes/nav') %>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="page-header">
            <h4 class="text-center">Usuários</h4>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <% if ( contato._id ) { %>
                <h3 class="panel-title">Altere os campos abaixo para editar o cadastro do usuário.</h3>
              <% } else { %>
                <h3 class="panel-title">Preencha os campos abaixo para cadastrar um usuário.</h3>
              <% } %>
            </div>

            <div class="panel-body">

              <%- include('includes/messages') %>

                <% if( contato._id ) { %>
                  <form id="frm1" action="/contato/edit/<%= contato._id %>" method="POST" class="form-horizontal" novalidate="novalidate">
                <% } else { %>
                  <form id="frm1" action="/contato/register" method="POST" class="form-horizontal" novalidate="novalidate">
                <% } %>

                    <input type="hidden" name="_csrf" value=<%=csrfToken %>>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="email">EMail</label>
                      <div class="col-sm-5">
                        <input type="email" class="form-control" name="email" id="email" required value="<%= contato.email %>" >
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="nome">Nome</label>
                      <div class="col-sm-5">
                        <input type="text" class="form-control" name="nome" id="nome" required value="<%= contato.nome %>" >
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="re">RE</label>
                      <div class="col-sm-5">
                        <input type="number" class="form-control" name="re" id="re" required placeholder="modelo: 123456 (seis números)" value="<%= contato.re %>" >
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="tipoUsuario">Tipo de Usuario</label>
                      <div class="col-sm-5">
                        <select <% if( contato.id ) { %>
                          value="<%= contato.tipoUsuario %>"
                            <% } else { %>
                              value="<%= login_email.tipoUsuario %>"
                                readonly
                                <% } %>
                                  type=""
                                  class="form-control"
                                  name="tipoUsuario"
                                  id="tipoUsuario"
                                  required >

                                  <% if( contato.id ) { %>
                                    <% if ( contato.tipoUsuario ) { %>
                                      <option selected>
                                        <%= contato.tipoUsuario %>
                                      </option>
                                      <% } else { %>
                                        <option selected> Escolher... </option>
                                        <% } %>
                                          <% } else { %>
                                            "<%= login_email.tipoUsuario %>"
                                              <% } %>

                                                <option>Administrador</option>
                                                <option>Encarregado</option>
                                                <option>Usuario</option>

                        </select>
                      </div>
                    </div>


                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="celular">Celular</label>
                      <div class="col-sm-5">
                        <input type="tel" class="form-control" name="celular" id="celular" value="<%= contato.celular %>" placeholder="modelo: 12-4512-1678" >
                      </div>
                    </div>


                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="cnhRegistro">Registro da CNH</label>
                      <div class="col-sm-5">
                        <input type="text" class="form-control" name="cnhRegistro" id="cnhRegistro" value="<%= contato.cnhRegistro %>" placeholder="modelo: 000123456 (nove números)">
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="categoria"">Categoria da CNH</label>
                      <div class=" col-sm-5">
                        <select id=" categoria" name="categoria" class="form-control"
                          value="<%= contato.categoria %>">
                          <% if (contato.categoria) { %>
                            <option selected>
                              <%= contato.categoria %>
                            </option>
                            <% } else { %>
                              <option selected> Escolher... </option>
                              <% } %>

                                <option>A</option>
                                <option>B</option>
                                <option>C</option>
                                <option>D</option>
                                <option>E</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="validade">Validade da CNH</label>
                      <div class="col-sm-5">
                        <input type="date" class="form-control" name="validade" id="validade" value="<%= contato.validade %>" >
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="obs">Observações</label>
                      <div class="col-sm-5">
                        <input type="text" class="form-control" name="obs" id="obs" value="<%= contato.obs %>">
                      </div>
                    </div>
                    
            </div> <!-- fim panel-body-->
          </div> <!-- fim panel-default-->            
                  <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <button type="reset" class="btn btn-primary">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="myFunction()">Try it</button>
                  </div>
              </form>
              <p id="demo">A Paragraph</p>

        </div> <!-- fim col-sm-8 -->
      </div> <!-- fim row-->
    </div><!-- fim container -->

    <%- include('includes/footer') %>
      <script type="text/javascript" src="/js/validaCampoContato_Cad.js"></script>

</body>
</html>