<%- include('includes/head') %>

<!-- scripts necessários para os botoes conforme: https://datatables.net/extensions/buttons/examples/initialisation/simple.html -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.0.2/css/buttons.dataTables.css">
<link rel="stylesheet" href="https://cdn.datatables.net/select/2.0.2/css/select.dataTables.css">

<%- include('includes/nav') %>
<div id="events" class="box">
  Event summary - new events added at the top
</div

          <div class="col-lg-12">
            <%- include('includes/messages') %>
            <p></p>
            <h4 class="text-center">Usuários Cadastrados</h4>

            <table id="dt-table" class="display hover order-column" style="width:100%;">
              <thead>
                <tr>
                  <th></th>
                  <th>Nome</th>
                  <th>EMail</th>
                  <th>Celular</th>
                  <th>RE</th>
                  <th>Tipo Usuário</th>
                  <th>Registro CNH</th>
                  <th>Categoria CNH</th>
                  <th>Validade CNH</th>
                  <th>Observações</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>

        </div>




<!-- o rodapé foi tirado devido estar sobrepondo a tabela -->

    <!-- Foi colocado no final para a página carregar mais rápido -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.4.min.js"></script>    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    
        <!-- <script src="https://getbootstrap.com.br/docs/4.1/assets/js/vendor/holder.min.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

<!-- scripts necessários para os botoes conforme: https://datatables.net/extensions/buttons/examples/initialisation/simple.html -->
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js"></script>
<!-- <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.print.min.js"></script> -->
<script src="//cdn.datatables.net/buttons/3.0.2/js/buttons.colVis.min.js"></script>
<script src="https://cdn.datatables.net/select/2.0.2/js/dataTables.select.js"></script>
<script src="https://cdn.datatables.net/select/2.0.2/js/select.dataTables.js"></script>

    <script>
function message(message) {
    let el = document.querySelector('#events');
    let div = document.createElement('div');
 
    div.innerHTML = message;
    el.prepend(div);
}
  

      console.log ( <%- str_contatos %> );  //vai exibir no console do navegador


            new DataTable('#dt-table', {
                data: <%- str_contatos %>,
                columns: [
                    //trata a seleção das linhas
                    {
                        data: null,
                        orderable: false,
                        render: DataTable.render.select()
                    },
                    //demais campos que estão no BD
                    { data: 'nome' },
                    { data: 'email' },
                    { data: 'celular' },
                    { data: 're' },
                    { data: 'tipoUsuario' },
                    { data: 'cnhRegistro' },
                    { data: 'categoria' },
                    { data: 'validade' },
                    { data: 'obs' },
                ],
                
                // "pageLength": 3,
                // "stateSave" : true
                paging: false,
                scrollCollapse: true,
                scrollY: '210px',
                scrollX: true,
                language: {
                  decimal: ',',
                  thousands: '.'
                },
                columnDefs: [
                    {
                      orderable: false,
                      render: DataTable.render.select(),
                      targets: 0                        
                    }
                ],
                layout: {
                  topStart: {
                      buttons: [
                          'excel',
                          { extend: 'pdfHtml5',
                            exportOptions: {
                              columns: ':visible'
                            }
                            },
                          { extend: 'colvis',
                            collectionLayout: 'fixed columns',
                            popoverTitle: 'Controle de visibilidade das colunas'
                            },
                      ]
                  }
                },
                language: {
                  buttons: {
                      colvis: 'Selecione colunas'
                  }
                },
                //tratando a seleção das linhas
                select: {
                  style: 'os',
                  selector: 'td:first-child'
                },
                order: [[1, 'asc']],
              });

          table
              .on('select', function (e, dt, type, indexes) {
                let rowData = table
                .rows(indexes)
                .data()
                .toArray();

                message('<b>' + type + ' selection</b> - ' + JSON.stringify(rowData));
              })
              .on('deselect', function (e, dt, type, indexes) {
                let rowData = table
                .rows(indexes)
                .data()
                .toArray();

                message( '<b>' + type + ' <i>de</i>selection</b> - ' + JSON.stringify(rowData) );
              });


    </script> 



</body>
</html>