<%- include('includes/head') %>
<%- include('includes/nav') %>

<!-- <div class="container"> -->
  <div class="row">

    <div class="col-lg-12">
      <div class="text-center">
        <!-- <img src="/img/despesa.jpg" style="width:50px;height:50px;"> -->
        <h4>Usuários</h4>
        <p>Relação dos usuários para validar o cadastro</p>
        <p><%- include('includes/messages') %></p>
      </div>
      

      <% if(novo_array.length > 0) { %>
      <div class="responsive-table">
        <table class="table my-3">
          <thead>
            <tr>
                <th>Nome</th>
                <th>RE</th>
                <th>EMail</th>
                <th>Tipo Usuário</th>
                <th>Criado Em</th>
                <th>iD</th>
                <th>Validar</th>
                <th>Excluir</th>
            </tr>
        </thead>
          <% novo_array.forEach(item => { %>
          <tr>
            <td><%= item.nome %></td>
            <td><%= item.re %></td>
            <td><%= item.email %></td>
            <td><%= item.tipoUsuario %></td>
            <td><%= item.criadoEm %></td>
            <td><%= item._id %></td>
            <td><a href="/contato/contato_lista/<%= novo_array._id %>">Validar</a></td>
            <td><a class="text-danger" href="/login/delete/<%= novo_array._id %>">Excluir</a></td>
          </tr>
          <% }); %>
        </table>
      </div>
      <% } else { %>
        <p class="text-center lead">Todos os usuários já estão validados.</p>
      <% } %>

    </div>
    
  </div>
<!-- </div> -->

<%- include('includes/footer') %>
