<%- include('includes/head') %>
  <%- include('includes/nav') %>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="page-header">
            <h4 class="text-center">Usuários</h4>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <% if ( contato._id ) { %>
                <h3 class="panel-title">Altere os campos abaixo para editar o cadastro do usuário.</h3>
              <% } else { %>
                <h3 class="panel-title">Preencha abaixo para cadastrar um usuário.</h3>
              <% } %>
            </div>

            <div class="panel-body">

              <%- include('includes/messages') %>

                <% if( contato._id ) { %>
                  <form id="frm1" action="/contato/edit/<%= contato._id %>" method="POST" class="form-horizontal" novalidate="novalidate">
                <% } else { %>
                  <form id="frm1" action="/contato/register" method="POST" class="form-horizontal" novalidate="novalidate">
                <% } %>

                    <input type="hidden" name="_csrf" value=<%=csrfToken %>>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="email">EMail</label>
                      <div class="col-sm-5">
                        <input type="email" name="email" id="email" class="form-control" required value="<%= contato.email %>" onfocus="lista_email_login()" >
                      </div>
                    </div>
                    

                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="nome">Nome</label>
                      <div class="col-sm-5">
                        <input type="text" class="form-control" name="nome" id="nome" required value="<%= contato.nome %>" onfocus="lista_email_login_2()">
                      </div>
                    </div>



                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="re">RE</label>
                      <div class="col-sm-5">
                        <input type="number" class="form-control" name="re" id="re" maxlength="6" placeholder="modelo: 123456 (seis números)" value="<%= contato.re %>" >
                      </div>
                    </div>



                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="tipoUsuario">Tipo de Usuario</label>
                      <div class="col-sm-5">
                        <select name="tipoUsuario" id="tipoUsuario" class="form-control" required value="<%= contato.tipoUsuario %>">
                            <option value = "<%= contato.tipoUsuario %>" selected><%= contato.tipoUsuario %></option>
                            <option value="Administrador">Administrador</option>
                            <option value="Encarregado">Encarregado</option>
                            <option value="Usuario">Usuario</option>
                        </select>
                      </div>
                    </div>



                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="celular">Celular</label>
                      <div class="col-sm-5">
                        <input type="text" class="form-control" name="celular" id="celular" value="<%= contato.celular %>" oninput="mascara()" />
                      </div>
                    </div>




                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="cnhRegistro">Registro da CNH</label>
                      <div class="col-sm-5">
                        <input type="text" class="form-control" name="cnhRegistro" id="cnhRegistro" value="<%= contato.cnhRegistro %>" placeholder="modelo: 000123456 (nove números)">
                      </div>
                    </div>



                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="categoria"">Categoria da CNH</label>
                      <div class=" col-sm-5">
                        <select id=" categoria" name="categoria" class="form-control" value="<%= contato.categoria %>">
                          <% if (contato.categoria) { %>
                            <option selected>
                              <%= contato.categoria %>
                            </option>
                            <% } else { %>
                              <option selected> Escolher... </option>
                              <% } %>

                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="validade">Validade da CNH</label>
                      <div class="col-sm-5">
                        <input type="date" class="form-control" name="validade" id="validade" value="<%= contato.validade %>" >
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="obs">Observações</label>
                      <div class="col-sm-5">
                        <input type="text" class="form-control" name="obs" id="obs" value="<%= contato.obs %>">
                      </div>
                    </div>
                    
            </div> <!-- fim panel-body-->
          </div> <!-- fim panel-default-->            
                  <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <button type="reset" id="btnCancelar" name="btnCancelar" class="btn btn-primary" onclick="history.back()" >Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="myFunction()">Try it</button>
                  </div>
              </form>
              <p id="demo">A Paragraph</p>

        </div> <!-- fim col-sm-8 -->
      </div> <!-- fim row-->
    </div><!-- fim container -->

    <%- include('includes/footer') %>
      <script type="text/javascript" src="/js/geral.js"></script>


</body>
</html>