<%- include('includes/head') %>
  <%- include('includes/nav') %>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="page-header">
            <h4 class="text-center">CADASTRO DESPESA</h4>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
                TITULO
            </div>

            <div class="panel-body">

              <%- include('includes/messages') %>

                  <% if(despesa._id) { %>
                    <form id="frm1" action="/despesa/edit/<%= despesa._id %>" method="POST" class="form-horizontal" novalidate="novalidate">
                  <% } else { %>
                    <form id="frm1" action="/despesa/register" method="POST" class="form-horizontal" novalidate="novalidate">
                  <% } %>

                  <input type="hidden" name="_csrf" value=<%=csrfToken %>>

                  <div class="form-group">
                    <label class="col-sm-4 control-label" for="email">Email do usuário</label>
                    <div class="col-sm-5">
                      <% if(despesa._id) { %>
                        <input type="email" name="email" id="email" class="form-control" value="<%= despesa.email %>" readonly>
                      <% } else { %>
                        <input type="email" name="email" id="email" class="form-control" value="<%= email %>" readonly>
                      <% } %>
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="col-sm-4 control-label" for="placa">Placa</label>
                    <div class="col-sm-5">
                      <% if( despesa._id ) { %>
                        <select id="placa" name="placa" class="form-control" autofocus onfocus="select_placa()">
                          <option value = "<%= despesa.placa %>" selected><%= despesa.placa %></option>
                        </select>
                      <% } else { %>
                        <select id="placa" name="placa" class="form-control" onfocus="select_placa()">
                          <!-- a função select_placa está preenchendo o elemento select -->
                       </select>
                      <% } %>
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="col-sm-4 control-label" for="tipoDespesa">Tipo de Despesa</label>
                    <div class="col-sm-5">
                      <select type="text" id="tipoDespesa" name="tipoDespesa" class="form-control">
                        <option value = "<%= despesa.tipoDespesa %>" selected><%= despesa.tipoDespesa %></option>
                        <option value = "Pneu">Pneu</option>
                        <option value = "Óleo">Óleo</option>
                        <option value = "Mecânica">Mecânica</option>
                        <option value = "Mecânica">Vidraçaria</option>
                     </select>
                    </div>
                  </div>



                  <div class="form-group">
                    <label class="col-sm-4 control-label" for="hodometro">Hodômetro</label>
                    <div class="col-sm-5">
                      <input type="number" name="hodometro" id="hodometro" class="form-control" value="<%= despesa.hodometro %>" required onchange="completarComZero()">
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="col-sm-4 control-label" for="data">Data da realização</label>
                    <div class="col-sm-5">
                      <input type="date" name="data" id="data" class="form-control" value="<%= despesa.data %>">
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="col-sm-4 control-label" for="hora">Hora da realização</label>
                    <div class="col-sm-5">
                      <input type="time" name="hora" id="hora" class="form-control" value="<%= despesa.hora %>">
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="col-sm-4 control-label" for="local">Local da realização</label>
                    <div class="col-sm-5">
                      <input type="text" name="local" id="local" class="form-control" value="<%= despesa.local %>">
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="col-sm-4 control-label" for="unidade">Unidade dos itens comprados</label>
                    <div class="col-sm-5">
                      <input type="text" name="unidade" id="unidade" class="form-control" value="<%= despesa.unidade %>">
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="col-sm-4 control-label" for="quantidade">Quantidade de itens</label>
                    <div class="col-sm-5">
                      <input type="number" name="quantidade" id="quantidade" class="form-control" value="<%= despesa.quantidade %>" maxlength="4">
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="col-sm-4 control-label" for="valor">Valor Total Gasto</label>
                    <div class="col-sm-5">
                      <% if(despesa._id) { %>
                        <input type="text" name="valor" id="valor" class="form-control" value="<%= despesa.valor %>"onblur="formataMoeda();">                        
                      <% } else { %>
                        <input type="text" name="valor" id="valor" class="form-control" onblur="formataMoeda();">
                      <% } %>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-4 control-label" for="obs">Observações</label>
                    <div class="col-sm-5">
                      <input type="text" name="obs" id="obs" class="form-control" value="<%= despesa.obs %>"
                      required minlength="2" maxlength="5">
                    </div>
                  </div>
            </div> <!-- FIM PANEL-BODY -->
          </div> <!-- FIM PANEL-DEFAULT -->

                    <div class="form-group text-center">
                      <button type="submit" class="btn btn-primary">Salvar</button>
                      <button type="button" id="btnCancelar" name="btnCancelar"  class="btn btn-primary">Cancelar</a>
                                                  
                    </div>
                </form>

        </div> <!-- FIM COL-SM-8 -->
      </div> <!-- FIM ROW -->
    </div> <!-- FIM CONTAINER -->


        <%- include('includes/footer') %>

          <script type="text/javascript" src="/js/geral.js"></script>

</body>
</html>