<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row" style="padding-bottom: 20px; padding-top: 60px;">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">CONTROLE DE FROTA DE VEÍCULOS</h1>
      
      <%- include('includes/messages') %>

      <p class="text-center lead">Total de usuários cadastrados: <%-contatos.length %></p>
      <p class="text-center lead">Total de login liberados: <%-login2.length %></p>
      <p class="text-center lead">Total de veículos cadastrados: <%-veiculos.length %></p>




    </div>
    
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>