<%- include('includes/head') %>
<%- include('includes/nav') %>

<!-- <div class="container"> -->
  <div class="row">

    <div class="col-lg-12">
      <div class="text-center">
        <img src="/img/despesa.jpg" style="width:80px;height:80px;">
        <h4>Despesas</h4>
        <p>Despesas cadastradas no sistema</p>
      </div>

      <%- include('includes/messages') %>


      <% if(despesas.length > 0) { %>
      <div class="responsive-table">
        <table class="table my-3">
          <thead>
            <tr>
                <th>EMail</th>
                <th>Placa</th>
                <th>Tipo</th>                
                <th>Hodômetro</th>
                <th>Data</th>
                <th>Hora</th>
                <th>Local</th>
                <th>Unid</th>
                <th>Quant</th>
                <th>Valor</th>
                <th>Observações</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
          <% despesas.forEach(despesa => { %>
          <tr>
            <td><%= despesa.email %></td>
            <td><%= despesa.placa %></td>            
            <td><%= despesa.tipoDespesa %></td>
            <td><%= despesa.hodometro %></td>
            <td><%= despesa.data %></td>
            <td><%= despesa.hora %></td>
            <td><%= despesa.local %></td>
            <td><%= despesa.unidade %></td>
            <td><%= despesa.quantidade %></td>
            <td><%= despesa.valor %></td>
            <td><%= despesa.obs %></td>                      
            <td><a href="/despesa/index_despesa/<%= despesa._id %>">Editar</a></td>
            <td><a class="text-danger" href="/despesa/delete/<%= despesa._id %>">Excluir</a></td>
          </tr>
          <% }); %>
        </table>
      </div>
      <% } else { %>
        <p class="text-center lead">Não existem despesas cadastradas.</p>
      <% } %>

    </div>
    
  </div>
<!-- </div> -->

<%- include('includes/footer') %>
