<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">CONTROLE DE FROTA DE VEÍCULOS</h1>
      <p class="text-center lead">Total de usuários cadastrados: <%-contatos.length %></p>
      <p class="text-center lead">Total de login liberados: <%- %></p>
      <p class="text-center lead">Total de veículos cadastrados: <%-veiculos.length %></p>

      <%- include('includes/messages') %>



    </div>
    
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>