<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <%- include('includes/messages') %> <!--  manter esse include nesse lugar, se colocar mais acima, pode alterar o alinhamento -->
     
     
      <h2 class="text-center">Seu usuário é: <%-login2.email %></h2>
      <p class="text-center lead">seu id é: <%- login2._id %></p>
      <p class="text-center lead">seu perfil é: <%- login2.tipoUsuario %></p>


    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>