    <%- include('includes/head') %>
    <%- include('includes/nav') %>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="page-header">
            <h4 class="text-center">Criar conta</h4>
          </div>

        <div class="panel-body">

          <%- include('includes/messages'); %>

          <form id="frmLoginCriar" action="/login/register" method="POST" class="form-horizontal" novalidate="novalidate" autocomplete="off">  

            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <input type="hidden" name="tipoUsuario" value="Usuario">

            <div class="form-group">
              <label class="col-sm-4 control-label">Nome Completo</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" required name="nome" id="nome" >
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-4 control-label" for="re">RE</label>
              <div class="col-sm-5">
                <input type="number" name="re" id="re" class="form-control" required pattern="[0-9]{6}" data-toggle="tooltip" data-placement="top" title="Modelo: 123456" >
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-sm-4 control-label" for="email">EMail</label>
              <div class="col-sm-5">
                <input type="email" name="email" id="email" class="form-control" required >
              </div>
            </div>


            <div class="form-group">
              <label class="col-sm-4 control-label">Senha<span></span></label>
              <div class="col-sm-5">
                <input type="password" name="password" id="password" class="form-control" required minlength="3" maxlength="16">
              </div>
            </div>


            <div class="form-group">
              <label class="col-sm-4 control-label">Confirme a senha<span></span></label>
              <div class="col-sm-5">
                <input type="password" name="confirma" id="confirma" class="form-control" required minlength="3" maxlength="16">
              </div>
            </div>

        </div> <!-- FIM PANEL-BODY -->    
            
            
            <div class="form-group text-center">
              <% if(user) { %>            
                <a class="nav-link" href="/login/login">LOGAR</a>            
              <% } else { %>            
                <button type="submit" class="btn btn-primary" id="btnCriar">Criar minha conta</button>            
              <% } %>
            
              <a class="btn btn-primary" href="/"> Cancelar </a> <!-- link formatado como botão -->            
            </div>
          </form>
        </div>

      </div> <!-- FIM COL-SM-8 -->
    </div> <!-- FIM ROW -->
  </div> <!-- FIM CONTAINER -->

    <%- include('includes/footer') %>

    <script>
      document.getElementById("confirma").addEventListener("focusout", function() {
        let senha1 = document.getElementById("password");
        let senha2 = document.getElementById("confirma");

        if (senha1.value != senha2.value) {
          alert("Senhas não conferem!");
          senha1.value = "";
          senha2.value = "";
          senha1.focus();
        } 
      });

      $(document).ready(function() {
        $("#frmLoginCriar").validate();
      });

      
    </script>

        
  </body>
</html>