<%- include('includes/head') %>
  <%- include('includes/nav') %>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="page-header">
            <h4 class="text-center">Alterar Senha</h4>
          </div>



            <div class="panel-body">

              <%- include('includes/messages') %>

                  <form id="frmLoginAlterar" action="/login/alterar_senha" method="POST" class="form-horizontal" novalidate="novalidate" autocomplete="off">


                          <input type="hidden" name="_csrf" value=<%=csrfToken %>>


                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="email">EMail</label>
                            <div class="col-sm-5">
                              <input type="email" name="email" id="email" class="form-control" >
                            </div>
                          </div>


                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="re">RE(sem o dígito)</label>
                            <div class="col-sm-5">
                              <input type="number" name="re" id="re" class="form-control">
                            </div>
                          </div>


                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="password">Senha Antiga</label>
                            <div class="col-sm-5">
                              <input type="password" name="password" id="password" class="form-control">
                            </div>
                          </div>


                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="senhaNova">Senha Nova</label>
                            <div class="col-sm-5">
                              <input type="password" name="senhaNova" id="senhaNova" class="form-control">
                            </div>
                          </div>
            </div> <!-- FIM PANEL-BODY -->


                      <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Alterar</button>
                        <a class="btn btn-primary" href="/login/index"> Cancelar </a> <!-- link formatado como botão -->            
                      </div>
                  </form>

        </div> <!-- FIM COL-SM-8 -->
      </div> <!-- FIM ROW -->
    </div> <!-- FIM CONTAINER -->


        <%- include('includes/footer') %>
<script>
        $(document).ready(function() {
          $("#frmLoginAlterar").validate({
            rules: {
              re: {
                required: true,
                minlength: 5,
                maxlength: 6,
              },
              email: {
                email: true,
                required: true
              },
              password: {
                required: true,
                minlength: 3
              },
              senhaNova: {
                required: true,
                minlength: 3
              }
            },
            messages: {
              re: {
                required: 'Campo obrigatório',
                minlength: 'RE completo sem o dígito',
                maxlength: 'RE sem o dígito',
              },
              email: {
                required: 'Insira seu email',
                email: 'Insira um email válido',
              },
              password: {
                required: 'Insira a senha',
                minlength: 'A senha deve ter entre 3 a 16 caracteres',
              },
              senhaNova: {
                required: 'Insira uma nova senha',
                minlength: 'A senha deve ter entre 3 a 16 caracteres',
              },         
            }
          });
        });
</script>

</body>
</html>