    <%- include('includes/head') %>
    <%- include('includes/nav') %>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="page-header">
            <h4 class="text-center">Criar conta</h4>
          </div>

        <div class="panel-body">

          <%- include('includes/messages'); %>

          <form id="frmLoginCriar" action="/login/register" method="POST" class="form-horizontal" novalidate="novalidate" autocomplete="off">  

            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <input type="hidden" name="tipoUsuario" value="Usuario">

            <div class="form-group">
              <label class="col-sm-4 control-label">Nome Completo</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" required name="nome" id="nome" >
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-4 control-label" for="re">RE(sem dígito)</label>
              <div class="col-sm-5">
                <input type="number" name="re" id="re" class="form-control">
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-sm-4 control-label" for="email">EMail</label>
              <div class="col-sm-5">
                <input type="email" name="email" id="email" class="form-control">
              </div>
            </div>


            <div class="form-group">
              <label class="col-sm-4 control-label">Senha<span></span></label>
              <div class="col-sm-5">
                <input type="password" name="password" id="password" class="form-control">
              </div>
            </div>


            <div class="form-group">
              <label class="col-sm-4 control-label">Confirme a senha<span></span></label>
              <div class="col-sm-5">
                <input type="password" name="confirma" id="confirma" class="form-control">
              </div>
            </div>

        </div> <!-- FIM PANEL-BODY -->    
            
            
            <div class="form-group text-center">           
              <button type="submit" class="btn btn-primary" id="btnCriar">Criar minha conta</button>
              <a class="btn btn-primary" href="/login/index"> Cancelar </a> <!-- link formatado como botão -->            
            </div>
          </form>
        </div>

      </div> <!-- FIM COL-SM-8 -->
    </div> <!-- FIM ROW -->
  </div> <!-- FIM CONTAINER -->

    <%- include('includes/footer') %>

    <script>
      document.getElementById("confirma").addEventListener("focusout", function() {
        let senha1 = document.getElementById("password");
        let senha2 = document.getElementById("confirma");

        if (senha1.value != senha2.value) {
          alert("Senhas não conferem!");
          senha1.value = "";
          senha2.value = "";
          senha1.focus();
        } 
      });

      $(document).ready(function() {
        $("#frmLoginCriar").validate({
          rules: {
            nome:{
              required: true,
              minlength: 10,
            },
            re: {
              required: true,
              minlength: 5,
              maxlength: 6,
            },
            email: {
              email: true,
              required: true
            },
            password: {
              required: true,
              minlength: 3
            },
            confirma: {
              required: true,
              equalTo: '#password'
            }
          },
          messages: {
            nome:{
              required: 'Campo obrigatório',
              minlength: 'Escreva o nome completo',
            },
            re: {
              required: 'Campo obrigatório',
              minlength: 'RE completo sem o dígito',
              maxlength: 'RE sem o dígito',
            },
            email: {
              required: 'Insira seu email',
              email: 'Insira um email válido',
            },
            password: {
              required: 'Insira a senha',
              minlength: 'A senha deve ter entre 3 a 16 caracteres',
            },
            confirma: {
              required: 'Insira a senha',
              equalTo: 'Senhas não conferem!!!',
            },         
          }
        });
      });

      
    </script>

        
  </body>
</html>