    <%- include('includes/head') %>
    <%- include('includes/nav') %>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-2"></div>

        <div>
          <h1 class="text-center">Criar conta</h1>
          <p class="text-center lead">Preencha os campos para criar sua conta.</p>

          <%- include('includes/messages'); %>

          <form class="form-login" action="/login/register" method="POST">

            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <input type="hidden" name="tipoUsuario" value="Usuario">

            <div class="form-group">
              <label>Nome</label>
              <input type="text" class="form-control" name="nome" id="nome">
            </div>

            <div class="form-group">
              <label>Registro Estatistico</label>
              <input type="text" class="form-control" name="re" id="re"  pattern="[0-9]{6}" data-toggle="tooltip" data-placement="top" title="Modelo: 123456">
            </div>
            
            <div class="form-group">
              <label>E-Mail</label>
              <input type="email" class="form-control" name="email" id="email">
            </div>
            
            <div class="form-group">
              <label>Senha</label>
              <input type="password" class="form-control" name="password" id="password">
            </div>

            <div class="form-group">
              <label>Confirme a senha digitada</label>
              <input type="password" class="form-control" name="confirma" id="confirma">
            </div>
            
            <div class="form-group">
              <% if(user) { %>            
                <a class="nav-link" href="/login/login">LOGAR</a>            
              <% } else { %>            
                <button type="submit" class="btn btn-primary" id="btnCriar">Criar minha conta</button>            
              <% } %>
            
              <a class="btn btn-primary" href="/"> Cancelar </a> <!-- link formatado como botão -->            
            </div>
          </form>
        </div>

        <div class="col-lg-2"></div>
      </div>
    </div>

    <%- include('includes/footer') %>

    <script>
      document.getElementById("confirma").addEventListener("focusout", function() {
        let senha1 = document.getElementById("password");
        let senha2 = document.getElementById("confirma");

        if (senha1.value != senha2.value) {
          alert("Senha não confirmada!");
          senha1.value = "";
          senha2.value = "";
          senha1.focus();
        } 
      });

      
    </script>

        
  </body>
</html>