<%- include('includes/head') %>
  <%- include('includes/nav') %>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="page-header">
            <h4 class="text-center">Esqueci a Senha</h4>
          </div>



            <div class="panel-body">

              <%- include('includes/messages') %>

                  <form id="frmEsqueciSenha" action="/login/esqueci_senha" method="POST" class="form-horizontal" novalidate="novalidate" autocomplete="off">


                          <input type="hidden" name="_csrf" value=<%=csrfToken %>>


                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="email">EMail</label>
                            <div class="col-sm-5">
                              <input type="email" name="email" id="email" class="form-control" required >
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="re">RE</label>
                            <div class="col-sm-5">
                              <input type="number" name="re" id="re" class="form-control" pattern="[0-9]{6}" data-toggle="tooltip" data-placement="top" title="Modelo: 123456">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="nome">Nome Completo</label>
                            <div class="col-sm-5">
                              <input type="text" name="nome" id="nome" class="form-control">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="cnhRegistro">Número da CNH</label>
                            <div class="col-sm-5">
                              <input type="number" name="cnhRegistro" id="cnhRegistro" class="form-control" pattern="[0-9]{9}" data-toggle="tooltip" data-placement="top" title="Modelo: 123456789">
                            </div>
                          </div>


                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="cnhRegistro">Senha Temporária</label>
                            <div>
                              <label name="senhaTemp" id="senhaTemp">x x x</label>
                            </div>
                          </div>



            </div> <!-- FIM PANEL-BODY -->


                      <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Receber Senha Nova</button>`
                        <a class="btn btn-primary" href="/"> Cancelar </a> <!-- link formatado como botão -->            
                        <!-- <button type="reset" id="btnCancelar" name="btnCancelar" class="btn btn-primary" onclick="history.back()" >Cancelar</button> -->
                      </div>
                  </form>

        </div> <!-- FIM COL-SM-8 -->
      </div> <!-- FIM ROW -->
    </div> <!-- FIM CONTAINER -->


        <%- include('includes/footer') %>

    <script>
      $(document).ready(function() {
        $("#frmEsqueciSenha").validate();
      });

      
    </script>



</body>
</html>