<%- include('includes/head') %>
  <%- include('includes/nav') %>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="page-header">
            <h4 class="text-center">Esqueci a Senha</h4>
          </div>



            <div class="panel-body">

              <%- include('includes/messages') %>

                  <form id="frmEsqueciSenha" action="/login/esqueci_senha" method="POST" class="form-horizontal" novalidate="novalidate" autocomplete="off">


                          <input type="hidden" name="_csrf" value=<%=csrfToken %>>

                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="nome">Nome Completo</label>
                            <div class="col-sm-5">
                              <input type="text" name="nome" id="nome" class="form-control">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="email">EMail</label>
                            <div class="col-sm-5">
                              <input type="email" name="email" id="email" class="form-control" >
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="re">RE</label>
                            <div class="col-sm-5">
                              <input type="number" name="re" id="re" class="form-control">
                            </div>
                          </div>


                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="cnhRegistro">Número da CNH</label>
                            <div class="col-sm-5">
                              <input type="number" name="cnhRegistro" id="cnhRegistro" class="form-control">
                            </div>
                          </div>

            </div> <!-- FIM PANEL-BODY -->


                      <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Receber Senha Nova</button>`
                        <a class="btn btn-primary" href="/login/index"> Cancelar </a> <!-- link formatado como botão -->            
                      </div>
                  </form>

        </div> <!-- FIM COL-SM-8 -->
      </div> <!-- FIM ROW -->
    </div> <!-- FIM CONTAINER -->


        <%- include('includes/footer') %>

    <script>
      $(document).ready(function() {
        $("#frmEsqueciSenha").validate({
            rules: {
              nome:{
              required: true,
              minlength: 10,
              },
              re: {
                required: true,
                minlength: 5,
                maxlength: 6,
              },
              email: {
                email: true,
                required: true
              },
              cnhRegistro: {
                required: true,
                minlength: 9,
              },
            },
            messages: {
              nome:{
              required: 'Campo obrigatório',
              minlength: 'Escreva o nome completo',
              },
              re: {
                required: 'Campo obrigatório',
                minlength: 'RE completo sem o dígito',
                maxlength: 'RE sem o dígito',
              },
              email: {
                required: 'Insira seu email',
                email: 'Insira um email válido',
              },
              cnhRegistro: {
                required: 'Insira o número do Registro da CNH',
                minlength: 'Mínimo nove dígitos',
              },        
            }
          });
        });

      
    </script>



</body>
</html>