<%- include('includes/head') %>
  <%- include('includes/nav') %>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="page-header">
            <h4 class="text-center">Login</h4>
          </div>



            <div class="panel-body">

              <%- include('includes/messages') %>

                  <form id="frm1" action="/login/login" method="POST" class="form-horizontal" novalidate="novalidate" autocomplete="off">


                          <input type="hidden" name="_csrf" value=<%=csrfToken %>>

                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="email">EMail</label>
                            <div class="col-sm-5">
                              <input type="email" name="email" id="email" class="form-control" required >
                            </div>
                          </div>


                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="senha">Senha</label>
                            <div class="col-sm-5">
                              <input type="password" name="password" id="password" class="form-control" required minlength="3" maxlength="16">
                            </div>
                          </div>
            </div> <!-- FIM PANEL-BODY -->


                      <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Entrar</button>
                        <button type="reset" class="btn btn-primary">Cancelar</button>
                        <a class="btn btn-primary" href="/login/criar">Criar conta</a> <!-- link para voltar pag anterior -->
                        <a class="btn btn-primary" href="/login/esqueci">Esqueci a Senha</a>
                      </div>
                  </form>

        </div> <!-- FIM COL-SM-8 -->
      </div> <!-- FIM ROW -->
    </div> <!-- FIM CONTAINER -->


        <%- include('includes/footer') %>

          <script type="text/javascript" src="/js/validaCampoLogin.js"></script>



</body>
</html>