<%- include('includes/head') %>
  <%- include('includes/nav') %>

    <div class="container">
      <div class="row" >
        <div class="col-sm-8 col-sm-offset-2">
          <div class="page-header">
            <h4 class="text-center">Validar Usuário</h4>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Usuário com Login cadastrado - Confirme os dados!  -   LOGIN_VALIDAR.EJS</h3>
            </div>

            <div class="panel-body">

              <%- include('includes/messages') %>

                  <% console.log(login_validar.id) %>

                  <form id="frm1" action="/contato/login_validar_register" method="POST" class="form-horizontal" novalidate="novalidate">

                    <input type="hidden" name="_csrf" value=<%= csrfToken %>>
                    <input type="hidden" name="idForm" id="idForm" value="<%= login_validar._id %>">
                    
                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="email">EMail</label>
                      <div class="col-sm-5">
                        <input type="email" name="email" id="email" class="form-control" required value="<%= login_validar.email %>" onfocus="lista_email_login()" onblur="lista_email_login_2" >
                      </div>
                    </div>
                    
                    
                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="nome">Nome</label>
                      <div class="col-sm-5">
                        <input type="text" class="form-control" name="nome" id="nome" required value="<%= login_validar.nome %>" onfocus="lista_email_login_2()">
                      </div>
                    </div>



                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="re">RE</label>
                      <div class="col-sm-5">
                        <input type="number" class="form-control" name="re" id="re"
                               value="<%= login_validar.re %>" oninput="mascara()" onblur="completarComZeroRE()" />
                      </div>
                    </div>

                    
                    
                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="tipoUsuario">Tipo de Usuario</label>
                      <div class="col-sm-5">
                        <select name="tipoUsuario" id="tipoUsuario" class="form-control" required value="<%= login_validar.tipoUsuario %>" style="margin-top: 10px;">
                          <% if (login_validar.tipoUsuario) { %>
                            <option selected>
                              <%= login_validar.tipoUsuario %>
                            </option>
                            <% } else { %>
                              <option value="Selecione..."> Selecione... </option>
                              <% } %>
                              <option value="Administrador">Administrador</option>
                              <option value="Usuario">Usuario</option>
                            </select>
                          </div>
                        </div>
                        
                        
                        
                        <div class="form-group">
                          <label class="col-sm-4 control-label" for="celular">Celular</label>
                          <div class="col-sm-5">
                            <input type="text" class="form-control" name="celular" id="celular" value="<%= login_validar.celular %>" oninput="mascara()" />
                          </div>
                        </div>
                        
                        
                        
                        
                        <div class="form-group">
                          <label class="col-sm-4 control-label" for="cnhRegistro">Registro da CNH</label>
                          <div class="col-sm-5">
                            <input type="number" class="form-control" name="cnhRegistro" id="cnhRegistro"
                            value="<%= login_validar.cnhRegistro %>" oninput="mascara()" onchange="completarComZeroCnhRegistro()" />
                          </div>
                        </div>
                        
                        
                        
                        <div class="form-group">
                          <label class="col-sm-4 control-label" for="categoria"">Categoria da CNH</label>
                          <div class=" col-sm-5">
                            <select id=" categoria" name="categoria" class="form-control" value="<%= login_validar.categoria %>" style="margin-top: 10px;">
                              <% if (login_validar.categoria) { %>
                                <option selected>
                                  <%= login_validar.categoria %>
                                </option>
                                <% } else { %>
                                  <option value="Selecione..."> Selecione... </option>
                                  <% } %>
                                  <option value="A">A</option>
                                  <option value="B">B</option>
                                  <option value="C">C</option>
                                  <option value="D">D</option>
                                  <option value="E">E</option>
                                </select>
                      </div>
                    </div>


                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="validade">Validade da CNH</label>
                      <div class="col-sm-5">
                        <input type="date" class="form-control" name="validade" id="validade" value="<%= login_validar.validade %>" >
                      </div>
                    </div>


                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="obs">Observações</label>
                      <div class="col-sm-5">
                        <input type="text" class="form-control" name="obs" id="obs" value="<%= login_validar.obs %>">
                      </div>
                    </div>
                    

            </div> <!-- fim panel-body-->
          </div> <!-- fim panel-default-->            
                  <div class="form-group text-center">
                    <button type="submit" id="btnValidar" class="btn btn-primary">Validar</button>
                    <a class="btn btn-primary" href="/"> Cancelar </a> <!-- link formatado como botão -->
                  </div>
                </form>
                
              </div> <!-- fim col-sm-8 -->
            </div> <!-- fim row-->
          </div><!-- fim container -->
          
          <%- include('includes/footer') %>

          <script type="text/javascript" src="/js/geral.js"></script>

          <script>
            $(document).ready(function() {
                // Adiciona um método de validação personalizado para datas
                $.validator.addMethod("validDate", function(value, element) {
                  // Verifica se o valor do campo é uma data válida
                  return this.optional(element) || !isNaN(Date.parse(value));
                }, "Por favor, insira uma data válida");

                  // Adiciona um método de validação personalizado para selects
                $.validator.addMethod("validSelect", function(value, element, arg) {
                  // Verifica se o valor do campo select é diferente do argumento passado (por exemplo, "")
                  // return value !== arg;
                  return value !== 'Selecione...'
                }, "Por favor, selecione uma opção válida");

              $("#frm1").validate({
                  rules: {
                    nome:{
                    required: true,
                    minlength: 10,
                    },
                    re: {
                      required: true,
                      minlength: 5,
                      maxlength: 6,
                    },
                    email: {
                      email: true,
                      required: true
                    },
                    tipoUsuario: {
                      required: true,
                      validSelect: true,                      
                    },
                    celular: {
                      required: true,
                    },
                    cnhRegistro: {
                      required: true,
                      minlength: 9,
                    },
                    categoria: {
                      required: true,
                      validSelect: true,
                    },
                    validade: {
                      required: true,
                      validDate: true,
                    },
                    obs: {

                    },
                  },
                  messages: {
                    nome:{
                    required: 'Campo obrigatório',
                    minlength: 'Escreva o nome completo',
                    },
                    re: {
                      required: 'Campo obrigatório',
                      minlength: 'RE completo sem o dígito',
                      maxlength: 'RE sem o dígito',
                    },
                    email: {
                      required: 'Insira seu email',
                      email: 'Insira um email válido',
                    },
                    tipoUsuario: {
                      required: 'Campo obrigatório',
                      validSelect: "Selecione uma opção"                      
                    },
                    celular: {
                      required: 'Campo obrigatório',
                    },
                    cnhRegistro: {
                      required: 'Insira o número do Registro da CNH',
                      minlength: 'Mínimo nove dígitos',
                    },
                    categoria: {
                      required: 'Campo obrigatório',
                      validSelect: "Selecione uma opção"
                    },
                    validade: {
                      required: 'Campo obrigatório',
                      validDate: "Insira uma data válida",
                    },
                    obs: {

                    },
                  }
                });
              });
      
            
          </script>
          

</body>
</html>