<%- include('includes/head') %>
  <%- include('includes/nav_rodape') %>

    <div class="container">
    <div class="col-sm-8 col-sm-offset-2"> <!--alinhamento formulario-->
      <div class="row" class="container-fluid" style="width: 100%; padding: auto; margin: auto;">
          <div class="page-header">
            <h4 class="text-center">FALE CONOSCO</h4>
          </div>
      </div> <!-- FIM ROW -->
    
      <div class="panel-body">
        
        <%- include('includes/messages') %>
        
        <form id="frmFaleConosco" action="/emailEnviar" method="POST" class="form-horizontal" novalidate="novalidate" autocomplete="off">

          <input type="hidden" name="_csrf" value=<%=csrfToken %>>

              <div class="form-group row">
                <label class="col-sm-4 col-control-label" for="fale_nome">Qual o seu nome?</label>
                <div class="col-sm-5">
                  <input type="text" name="fale_nome" id="fale_nome" class="form-control" placeholder="Digite o seu nome" required value="Wellington">
                </div>
              </div> <!-- FIM ROW -->

              <div class="form-group row">
                <label class="col-sm-4 control-label" for="fale_email">O seu email?</label>
                <div class="col-sm-5">
                  <input type="email" name="fale_email" id="fale_email" class="form-control" placeholder="nome@exemplo.com" value="w.savioli@aluno.ifsp.edu">
                </div>
              </div> <!-- FIM ROW -->

              <div class="form-group row">
                <label class="col-sm-4 control-label" for="fale_assunto">O seu assunto?</label>
                <div class="col-sm-5">
                  <input type="text" name="fale_assunto" id="fale_assunto" class="form-control" value="teste msg">
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-4 control-label" for="fale_msg">E qual a sua Mensagem?</label>
                <div class="col-sm-5">
                  <textarea name="fale_msg" id="fale_msg" class="form-control" rows="3"></textarea>
                </div>
              </div>              
              
              <div class="form-group row">
                <div class="col-sm-6">
                <button type="submit" class="btn btn-primary">Enviar Mensagem</button>
                <a class="btn btn-primary" href="/"> Cancelar </a> <!-- link formatado como botão -->
                </div>
              </div> <!-- FIM ROW -->
            </form>
      </div> <!-- FIM PANEL-BODY -->    

    </div> <!-- FIM COL-SM-8 -->
    </div> <!-- FIM CONTAINER -->

    <!-- <script type="text/javascript" src="/js/geral.js"></script> -->

    
        <%- include('includes/footer') %>


</body>
</html>