<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">

  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="../../public/img/corrigir.png" alt="" width="72" height="72">
    <h2>Relatório de USO</h2>
    
  </div>

  <div class="row">
    <div class="col-md-1 order-md-1"></div>

    <div class="col-md-10 order-md-2">

      <%- include('includes/messages') %>

      <% if(uso._id) { %>
      <form class="needs-validation" novalidate action="/uso/edit/<%= uso._id %>" method="POST">
      <% } else { %>
      <form class="needs-validation" novalidate action="/uso/register" method="POST">
      <% } %>

        <input type="hidden" name="_csrf" value=<%= csrfToken %>>


        <div class="row">
          <div class="col-md-10 mb-3">
            <label for="email">Email do usuário</label>
            <input type="email" class="form-control" id="email" name="email" value="<%= uso.email %>" required>
            <div class="invalid-feedback"> É obrigatório inserir um email válido.</div>
          </div>

          <div class="col-md-2 mb-3">
            <label>RSO número</label>
            <input value="<%= uso.rso %>" type="text" class="form-control" name="rso" pattern="[0-9]{4}" data-toggle="tooltip" data-placement="top" title="Modelo: 0914">
          </div>
        </div>


        <div class="row">
          <div class="col-md-10 mb-3">
            <label>Nome do usuário</label>
            <input value="<%= uso.nome %>" type="text" class="form-control" id="nome">
          </div>
          <div class="col-md-2 mb-3">
            <label for="re">Reg Estatístico</label>
            <input type="text" class="form-control" id="re" value="<%= uso.re %>" pattern="[0-9]{6}" data-toggle="tooltip" data-placement="top" title="Modelo: 123456" required>
            <div class="invalid-feedback"> RE inválido.</div>
          </div>
        </div>



        <div class="row">          
          <div class="col-md-3 mb-3">
            <label>Placa</label>
            <input value="<%= uso.placa %>" type="text" class="form-control" name="placa" pattern="[A-Z]{3}[A-Z0-9]{4}" data-toggle="tooltip" data-placement="top" title="modelo: ABC1W34" required>
            <div class="invalid-feedback"> É obrigatório inserir uma placa válida.</div>
          </div>
          <div class="col-md-9 mb-3">
            <label>Motivo do Deslocamento</label>
            <input value="<%= uso.deslocamento %>" type="text" class="form-control" name="deslocamento">
          </div>
      </div>



      <div class="row">
        <div class="col-md-4 mb-3">      
          <label>Hodômetro Inicial</label>
          <input value="<%= uso.hodometroInicio %>" type="text" class="form-control" name="hodometroInicio" pattern="[0-9]{9}" data-toggle="tooltip" data-placement="top" title="modelo: 000456123">
        </div>
        <div class="col-md-4 mb-3">
          <label>Data Inicial</label>
          <input value="<%= uso.dataInicio %>" type="date" class="form-control" name="dataInicio">
        </div>
        <div class="col-md-4 mb-3">
          <label>Hora Inicial</label>
          <input value="<%= uso.horaInicio %>" type="time" class="form-control" name="horaInicio">
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 mb-3">
          <label>Hodômetro Final</label>
          <input value="<%= uso.hodometroFim %>" type="text" class="form-control" name="hodometroFim" pattern="[0-9]{9}">
        </div>
        <div class="col-md-4 mb-3">
          <label>Data Final</label>
          <input value="<%= uso.dataFim %>" type="date" class="form-control" name="dataFim">
        </div>
        <div class="col-md-4 mb-3">
          <label>Hora Final</label>
          <input value="<%= uso.horaFim %>" type="time" class="form-control" name="horaFim">
        </div>
      </div>


      <div class="row">
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
      </form>

    </div>
    
    <div class="col-md-1 order-md-3"></div>

  </div>
</div>

<%- include('includes/footer') %>

</body>
</html>
