<%- include('includes/head') %>
<%- include('includes/nav') %>

  <div class="row" class="container-fluid" style="width: 100%; padding: auto; margin: auto;">

    <div class="col-lg-12">
      <div class="text-center">
        <img src="/img/corrigir.png" style="width:50px;height:50px;">
        <h4>Utilização</h4>
        <p>Lista de fichas de uso cadastradas - USO_LISTA.EJS</p>
        <p><%- include('includes/messages') %></p>
        
      </div>

      <% if(usos.length > 0) { %>
        <div id="tbContainer" class="table-responsive">

        </div>
      <% } else { %>
        <p class="text-center lead">Não existem registros de uso cadastrados.</p>
      <% } %>

    </div>
    
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

  <script>

    // Passar os dados vindos do servidor para uma variável JavaScript
    // usar - em vez de = no <%- %>, pois o - utiliza os caracteres especiais tambem
    const dadosBc = <%- JSON.stringify(usos) %>;

  </script>

  <script type="module" src="/js/uso_lista.js"> </script>

<%- include('includes/footer') %>

</body>
</html>