<%- include('includes/head') %>
<script type="text/javascript" src="/js/geral.js"></script>
  <%- include('includes/nav') %>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="page-header">
            <h4 class="text-center">Abrir ficha de Uso do Veículo</h4>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <% if( uso._id ) { %>
                <h3 class="panel-title">Editar os campos abaixo.</h3>
              <% } else { %>
                <h3 class="panel-title">Preencha os campos abaixo.</h3>
              <% } %>
            </div>

            <div class="panel-body">

              <%- include('includes/messages') %>

                <% if( uso._id ) { %>
                  <form id="frm1" action="/uso/edit/<%= uso._id %>" method="POST" class="form-horizontal" novalidate="novalidate">
                <% } else { %>
                  <form id="frm1" action="/uso/register" method="POST" class="form-horizontal" novalidate="novalidate">
                <% } %>

                <input type="hidden" name="_csrf" value=<%=csrfToken %>>

                <div class="form-group">
                  <label class="col-sm-4 control-label" for="email">Email do usuário</label>
                  <div class="col-sm-5">
                    <% if( uso._id ) { %>
                      <input value="<%= uso.email %>" type="email" class="form-control" id="email" name="email" readonly>
                    <% } else { %>
                      <input value="<%= login2.email %>" type="email" class="form-control" id="email" name="email" readonly>
                    <% } %>
                  </div>
                </div>

                
                <div class="form-group">
                  <label class="col-sm-4 control-label" for="nome">Nome do usuário</label>
                  <div class="col-sm-5">
                      <input value="<%= login2.nome %>" type="text" class="form-control" id="nome" name="nome" readonly>
                  </div>
                </div>
                
                <div class="form-group">
                  <label class="col-sm-4 control-label" for="re">Reg Estatístico</label>
                  <div class="col-sm-5">
                      <input value="<%= login2.re %>" type="number" class="form-control" id="re" name="re" readonly>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-4 control-label" for="rso">RSO número</label>
                  <div class="col-sm-5">
                    <input value="<%= uso.rso %>" type="number" class="form-control" id="rso" name="rso" required autofocus onchange="completarComZeroRso()">
                  </div>
                </div>
                
                <div class="form-group">
                  <label class="col-sm-4 control-label" for="placa">Placa</label>
                  <div class="col-sm-5">
                    <% if( uso._id ) { %>
                      <select id="placa" name="placa" class="form-control" onclick="select_placa()">
                        <option value = "<%= uso.placa %>" selected><%= uso.placa %></option>
                      </select>
                    <% } else { %>
                      <select id="placa" name="placa" class="form-control">
                        <option value="" selected>Selecione…</option>
                        <!-- a função select_placa está preenchendo o elemento select -->
                     </select>
                    <% } %>
                  </div>
                </div>

    
                <div class="form-group">                            
                  <label class="col-sm-4 control-label" for="hodometroInicio" id="label_inicio">Hodômetro Inicial</label>
                  <div class="col-sm-5">
                    <input value="<%= uso.hodometroInicio %>" type="number" class="form-control" id="hodometroInicio" name="hodometroInicio" required onchange="completarComZeroHodInicio()">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-4 control-label" for="dataInicio" id="label_inicio">Data Inicial</label>
                  <div class="col-sm-5">
                    <input value="<%= uso.dataInicio %>" type="date" class="form-control" name="dataInicio" id="dataInicio">
                  </div>
                </div>

              <div class="form-group">
                <label class="col-sm-4 control-label" for="horaInicio" id="label_inicio">Hora Inicial</label>
                <div class="col-sm-5">
                  <input value="<%= uso.horaInicio %>" type="time" class="form-control" name="horaInicio" id="horaInicio">
                </div>
              </div>

              <!-- acrescentado esses inputs para não alterar o model de Edição no Banco de Dados -->

              <div class="form-group">                            
                <!-- <label class="col-sm-4 control-label" for="hodometroFim" id="label_Fim">Hodômetro Final</label> -->
                <div class="col-sm-5">
                  <input value="<%= uso.hodometroFim %>" type="hidden" class="form-control" id="hodometroFim"
                    name="hodometroFim" required onchange="completarComZeroHodFinal()" >
                </div>
              </div>

              <div class="form-group">
                <!-- <label class="col-sm-4 control-label" for="dataFim" id="label_Fim">Data Final</label> -->
                <div class="col-sm-5">
                  <input value="<%= uso.dataFim %>" type="hidden" class="form-control" name="dataFim" id="dataFim">
                </div>
              </div>

            <div class="form-group">
              <!-- <label class="col-sm-4 control-label" for="horaFim" id="label_Fim">Hora Final</label> -->
              <div class="col-sm-5">
                <input value="<%= uso.horaFim %>" type="hidden" class="form-control" name="horaFim" id="horaFim">
              </div>
            </div>

            </div>
          </div>

                          <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                            <button type="reset" id="btnCancelar" name="btnCancelar" class="btn btn-primary" onclick="history.back()">Cancelar</a>
                          </div>
                    </form>

        </div>
      </div>
    </div>


        <%- include('includes/footer') %>

</body>

</html>