<%- include('includes/head') %>
  <%- include('includes/nav') %>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="page-header">
            <h1 class="text-center">Veículos</h1>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <% if ( veiculo._id ) { %>
                <h3 class="panel-title">Altere os campos abaixo para editar o registro.</h3>
              <% } else { %>
                <h3 class="panel-title">Preencha os campos abaixo para cadastrar um veículo.</h3>
              <% } %>
            </div>

            <div class="panel-body">

              <%- include('includes/messages') %>

                <% if(veiculo._id) { %>
                  <form id="frm1" action="/veiculo/edit/<%= veiculo._id %>" method="POST" class="form-horizontal">
                    <% } else { %>
                      <form id="frm1" action="/veiculo/register" method="POST" class="form-horizontal">
                        <% } %>

                          <input type="hidden" name="_csrf" value=<%=csrfToken %>>

                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="placa">Placa</label>
                            <div class="col-sm-5">
                              <input value="<%= veiculo.placa %>" type="text" class="form-control" id="placa"
                                name="placa" maxlength="7" minlength="7" placeholder="modelo: EHP5H90" required>
                            </div>
                          </div>


                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="renavan">Renavan</label>
                            <div class="col-sm-5">
                              <input value="<%= veiculo.renavan %>" type="text" class="form-control" id="renavan"
                                name="renavan" maxlength="9" minlength="9" placeholder="modelo: 000123789">
                            </div>
                          </div>


                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="chassi">Chassi</label>
                            <div class="col-sm-5">
                              <input value="<%= veiculo.chassi %>" type="text" class="form-control" id="chassi"
                                name="chassi" maxlength="17" minlength="17" placeholder="modelo: 00012378900012317">
                            </div>
                          </div>


                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="prefixo">Prefixo</label>
                            <div class="col-sm-5">
                              <input value="<%= veiculo.prefixo %>" type="text" class="form-control" id="prefixo"
                                name="prefixo" maxlength="6" minlength="6" placeholder="modelo: R05237" required>
                            </div>
                          </div>


                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="hodometro">Hodometro</label>
                            <div class="col-sm-5">
                              <input value="<%= veiculo.hodometro %>" type="text" class="form-control" id="hodometro"
                                name="hodometro" maxlength="6" minlength="6" placeholder="modelo: 000123">
                            </div>
                          </div>


                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="combustivel">Combustível</label>
                            <div class="col-sm-5">
                              <input value="<%= veiculo.combustivel %>" type="text" class="form-control"
                                id="combustivel" name="combustivel" maxlength="1" minlength="1">
                            </div>
                          </div>


                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="rodas">Qtd de Rodas</label>
                            <div class="col-sm-5">
                              <input value="<%= veiculo.rodas %>" type="text" class="form-control" id="rodas"
                                name="rodas" maxlength="1" minlength="1">
                            </div>
                          </div>



                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="cor">Cor</label>
                            <div class="col-sm-5">
                              <input value="<%= veiculo.cor %>" type="text" class="form-control" id="cor" name="cor"
                                minlength="4" placeholder="modelo: Azul">
                            </div>
                          </div>                      

            </div>
          </div>

                          <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                            <button type="reset" class="btn btn-primary">Cancelar</button>
                            <button type="button" class="btn btn-primary" onclick="myFunction()">Try it</button>
                          </div>
                      </form>
                      <p id="demo">A Paragraph</p>
        </div>
      </div>
    </div>


        <%- include('includes/footer') %>

          <script type="text/javascript" src="/js/validaCampoVeicCad.js"></script>



</body>

</html>