<%- include('includes/head') %>
  <%- include('includes/nav') %>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="page-header">
            <h1 class="text-center">Veículos</h1>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <% if ( veiculo._id ) { %>
                <h3 class="panel-title">Altere os campos abaixo para editar o registro.</h3>
              <% } else { %>
                <h3 class="panel-title">Preencha os campos abaixo para cadastrar um veículo.</h3>
              <% } %>
            </div>

            <div class="panel-body">

              <%- include('includes/messages') %>

                <% if(veiculo._id) { %>
                  <form id="frm1" action="/veiculo/edit/<%= veiculo._id %>" method="POST" class="form-horizontal">
                    <% } else { %>
                      <form id="frm1" action="/veiculo/register" method="POST" class="form-horizontal">
                        <% } %>

                          <input type="hidden" name="_csrf" value=<%=csrfToken %>>


                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="placa">Placa</label>
                            <div class="col-sm-5">
                              <% if(veiculo._id) { %>
                                <input id="placa" name="placa" type="text" class="form-control" maxlength="7" minlength="7" value="<%= veiculo.placa %>" onclick="lista_placa()" placeholder="XXX9X99" readonly>
                              <% } else { %>
                                <input id="placa" name="placa" type="text" class="form-control" maxlength="7" minlength="7" value="<%= veiculo.placa %>" onclick="lista_placa()" placeholder="XXX9X99" required>
                              <% } %>
                            </div>
                          </div>


                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="renavan">Renavan</label>
                            <div class="col-sm-5">
                              <input name="renavan" id="renavan" type="number" class="form-control" value="<%= veiculo.renavan %>" onfocus="lista_placa()" maxlength="9" minlength="9" placeholder="000000009">
                            </div>
                          </div>


                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="chassi">Chassi</label>
                            <div class="col-sm-5">
                              <input value="<%= veiculo.chassi %>" type="text" class="form-control" id="chassi" name="chassi" maxlength="17" minlength="17" placeholder="000XXX000XXX00017">
                            </div>
                          </div>


                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="prefixo">Prefixo</label>
                            <div class="col-sm-5">
                              <input value="<%= veiculo.prefixo %>" type="text" class="form-control" id="prefixo" name="prefixo" maxlength="6" minlength="6" placeholder="X5000" required>
                            </div>
                          </div>


                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="hodometro">Hodometro</label>
                            <div class="col-sm-5">
                              <input value="<%= veiculo.hodometro %>" type="text" class="form-control" id="hodometro" name="hodometro" maxlength="6" minlength="6" placeholder="000006">
                            </div>
                          </div>


                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="combustivel">Combustível</label>
                            <div class="col-sm-5">
                              <select id="combustivel" name="combustivel" class="form-control">
                                <option value = "<%= veiculo.combustivel %>" selected><%= veiculo.combustivel %></option>
                                <option value = "Alcool e Gasolina" >Alcool e Gasolina</option>
                                <option value = "Alcool"            >Alcool</option>
                                <option value = "Gasolina"          >Gasolina</option>
                                <option value = "Diesel"            >Diesel</option>
                                <option value = "Gás Natural"       >Gás Natural</option>
                                <option value = "Elétrico"          >Elétrico</option>
                                <option value = "Hibrido"           >Hibrido</option>
                             </select>
                            </div>
                          </div>


                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="rodas">Qtd de Rodas</label>
                            <div class="col-sm-5">
                              <select type="number" id="rodas" name="rodas" class="form-control">
                                <option value = "<%= veiculo.rodas %>" selected><%= veiculo.rodas %></option>
                                <option value = "4">4</option>
                                <option value = "2">2</option>
                                <option value = "3">3</option>
                             </select>
                            </div>
                          </div>



                          <div class="form-group">
                            <label class="col-sm-4 control-label" for="cor">Cor</label>
                            <div class="col-sm-5">
                              <input value="<%= veiculo.cor %>" type="text" class="form-control" id="cor" name="cor" minlength="4">
                            </div>
                          </div>

            </div>
          </div>
                          <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                            <button type="reset" class="btn btn-primary">Cancelar</button>
                          </div>
                          <p id="criadoEm">Dt/Hr atual</p>
                          <p id="ip">IP atual</p>
                          <p id="geo">Loc Geo atual</p>
                      </form>
        </div>
      </div>
    </div>


        <%- include('includes/footer') %>

          <script type="text/javascript" src="/js/geral.js"></script>



</body>

</html>